<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido{{user.name}}</h3>
                    <h4>{{user.username}}</h4>
                    <h6>Consulta tus citas o envia tu novedad sobre tu citas</h6>
                    <a href="/citasAll" class="btn btn-primary m-4">
                        Consultar proximas citas
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>