<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h4>Bienvenido usuario administrador {{user.name}}</h4>
                    <h4>{{user.username}}</h4>
                    <h6>Asigna citas a tus pacientes</h6>
                    <a href="/pacientes" class="btn btn-primary m-4">
                        Ver pacientes
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>